body {
    
    margin: 20px;
    background-color: #e9c8e3;
    text-align: center;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7568b2;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #883e9b;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
}